select{
    position: absolute;
    right:0px;
    top:0px;
}
body{
    background-color:black;
    color:white;
}
select{
    color:white;
    background-color: black;
}
h1{
    color:lightslategrey;
}
p{
    color:lightgray;
}