body {
  background-color: #383838;
  color: #f8f8f8;
}
select {
  color: #f8f8f8;
}
h1 {
  color: Black;
}
p {
  color: #f8f8f8;
}
select {
  background: #383838;
}
.source-code {
  height: 70%;
  max-height: 70%;
  overflow-y: scroll;
  width: 50%;
  float: left;
}
.resize-container {
  box-sizing: border-box;
}
#header-bar {
  position: absolute;
  top: 0px;
  height: 40px;
  background: #c0c0c0;
  color: Black;
}
#header-bar,
#style-menu {
  position: absolute;
  right: 0px;
  top: 20px;
}
#header-bar,
#title-mem-or {
  left: 0;
  color: Black;
  font-size: 14pt;
}
#header-bar,
#title-theme {
  right: 0px;
  top: 0px;
  color: Black;
  font-size: 8pt;
}
.memory-graph {
  float: left;
  box-sizing: border-box;
  width: 68%;
  height: 500px;
  border: 3px solid #c0c0c0;
}
.programIO {
  position: absolute;
  top: 510px;
  left: 0px;
  height: 40%;
  width: 32%;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.25);
  border-radius: 3px;
  background: #383838;
}
.programIOHeading {
  width: 100%;
  padding: 15px;
  display: inline-block;
  border-bottom: 1px solid #c0c0c0;
  background: #c0c0c0;
  /* Type */
  font-size: 1.200em;
  text-shadow: 0px 1px 0px #c0c0c0;
  color: Black;
}
.DebuggerIO {
  position: absolute;
  top: 510px;
  left: 632px;
  height: 40%;
  width: 32%;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.25);
  border-radius: 3px;
  background: #383838;
}
.DebuggerIOHeading {
  width: 100%;
  padding: 15px;
  display: inline-block;
  border-bottom: 1px solid #c0c0c0;
  background: #c0c0c0;
  /* Type */
  font-size: 1.200em;
  text-shadow: 0px 1px 0px #c0c0c0;
  color: Black;
}
.main {
  position: relative;
  top: 40px;
}
/*----- Accordion -----*/
.accordion,
.accordion * {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.accordion {
  overflow: hidden;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.25);
  border-radius: 3px;
  background: #383838;
  width: 31.5%;
  float: right;
}
/*----- Section Titles -----*/
.accordion-section-title {
  width: 100%;
  padding: 15px;
  display: inline-block;
  border-bottom: 1px solid #c0c0c0;
  background: #c0c0c0;
  transition: all linear 0.15s;
  /* Type */
  font-size: 1.200em;
  text-shadow: 0px 1px 0px #c0c0c0;
  color: Black;
}
.accordion-section-title.active,
.accordion-section-title:hover {
  background: #c0c0c0;
  /* Type */
  text-decoration: none;
}
.accordion-section:last-child .accordion-section-title {
  border-bottom: none;
}
/*----- Section Content -----*/
.accordion-section-content {
  padding: 15px;
  display: none;
  overflow-y: scroll;
  height: 45em;
  max-height: 60%;
}
.check {
  postion: absolute;
  float: right;
  color: white;
}
