.source-code {
    height: 70%;
    max-height: 70%;
    width: 50%;
    float: left;
}
#header-bar {
    position:absolute;
    top:0px;
    height: 40px;
}
#style-menu{
    position: absolute;
    right:0px;
    top:20px;
}

.settings-section-title, #title-mem-or{
    left:0;
}
.memory-graph{
    float:left;
    width:68%;
    height:500px;
}
.callTree{
    position: absolute;
    top:510px;
    left:0px;
    height:40%;
    width:66.5%;
}
.callTreeHeading{
    width: 100%;
}

.main{
    position: relative;
    top:40px;
}
/*----- Accordion -----*/

.accordion {
    width:31.5%;
    float:right;
}

/*----- Section Titles -----*/
.accordion-section-title {
    width:100%;

}

/*----- Section Content -----*/
.accordion-section-content {
    height: 100%;
    max-height: 100%;
}

.settings {
    position:absolute;
    top:0em;
    width:100%;
    display:inline;
}
.settings-menu-button{
    position: absolute;
    top:10px;
    text-align:center;
}
.settings-section-title {
    width:100%;

}
.settings-section-content {
    height: 55em;
    max-height: 100%;
}



