.source-code {
    height: 70%;
    max-height: 70%;
    overflow-y: scroll;
    width: 50%;
    float: left;
}
.resize-container{
    box-sizing: border-box;
}
#header-bar {
    position:absolute;
    top:0px;
    height: 40px;
}
#header-bar, #style-menu{
    position: absolute;
    right:0px;
    top:20px;
}
#header-bar, #layout-menu{
    position: absolute;
    right:120px;
    top:20px;
}
#header-bar, #title-mem-or{
    left:0;
    font-size: 14pt;
}
#header-bar, #title-theme{
    right:0px;
    top:0px;
    font-size: 8pt;
}
.memory-graph{
    float:left;
    box-sizing: border-box;
    width:68%;
    height:500px;
}
.callTree{
    position: absolute;
    top:510px;
    left:0px;
    height:40%;
    width:64%;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.25);
    border-radius: 3px;
}
.callTreeHeading{
    width: 100%;
    padding: 15px;
    display: inline-block;
    /* Type */
    font-size: 1.200em;
}

.main{
    position: relative;
    top:40px;
}
/*----- Accordion -----*/
.accordion, .accordion * {
    -webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;
    box-sizing:border-box;
}

.accordion {
    overflow:hidden;
    box-shadow:0px 1px 3px rgba(0,0,0,0.25);
    border-radius:3px;
    width:31.5%;
    float:right;
}

/*----- Section Titles -----*/
.accordion-section-title {
    width:100%;
    padding:15px;
    display:inline-block;
    transition:all linear 0.15s;
    /* Type */
    font-size:1.200em;

}

.accordion-section-title.active, .accordion-section-title:hover {
    /* Type */
    text-decoration:none;
}

.accordion-section:last-child .accordion-section-title {
    border-bottom:none;
}

/*----- Section Content -----*/
.accordion-section-content {
    padding: 1px;
    display: none;
    overflow-y: scroll;
    height: 45em;
    max-height: 60%;
}



