#style-menu{
   position: absolute;
   right:0px;
   top:20px;
}
#layout-menu{
   position: absolute;
   right:120px;
   top:20px;
}
#title-mem-or{
   left:0;
   top:0;
   font-size: 14pt;
}
#title-settings{
   right:0px;
   top:0px;
   font-size: 8pt;
}
.windowExpand{
    height:1.3em;
    float:right;
}

#memory-graph{
   box-sizing: border-box;
}
#callTree{
   margin-top: 2%;
   box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.25);
   border-radius: 3px;
   max-width:100%;
}
#stepButton{
    float:left;
    font-size: 16pt;
    background-color:blue;
}
#nextButton{
    font-size:16pt;
}
#callTreeHeading{
   width: 100%;
   padding: 15px;
   display: inline-block;
   /* Type */
   font-size: 1.200em;

}
#memGraphHeading{
   width: 100%;
   padding: 15px;
   display: inline-block;
   /* Type */
   font-size: 1.200em;

}
.colorTable{
   cursor:hand;
}
.theme-preview {
   width:20em;
}
.colorHeading{
   font-size: 50px;
}
#tree-container{
   max-width:100%;
}
/*
.imgTheme-Menu{
position: absolute;
left:0em;
top:0em;
height:20em;
width:15em;
}
.imgDefault-Theme{
position:absolute;
left:15em;
top:0em;
padding:10px;
background:blue;
height:300px;
width:300px;
}
.imgDark-Theme{
position:absolute;
left:35em;
top:2.57em;
padding:10px;
background:blue;
height:300px;
width:300px;
}
.imgLight-Theme{
position:absolute;
left:55em;
top:2.57em;
padding:10px;
background:blue;
height:300px;
width:300px;
}
.imgPink-Theme{
position:absolute;
left:75em;
top:2.57em;
padding:10px;
background:blue;
height:300px;
width:300px;
}
.imgVolcano-Theme{
position:absolute;
left:95em;
top:2.57em;
padding:10px;
background:blue;
height:300px;
width:300px;
}
.imgDefault-Position{
position:absolute;
left:15em;
top:23.57em;
padding:10px;
background:blue;
height:300px;
width:300px;
}
.imgNo-Graph{
position:absolute;
left:35em;
top:23.57em;
padding:10px;
background:blue;
height:300px;
width:300px;
} */
   .main{
      position: relative;
      top:40px;
   }
   /*----- Accordion -----*/
   .accordion, .accordion * {
      -webkit-box-sizing:border-box;
      -moz-box-sizing:border-box;
      box-sizing:border-box;
   }

   .accordion {
      overflow:hidden;
      box-shadow:0px 1px 3px rgba(0,0,0,0.25);
      border-radius:3px;
      width:31.5%;
      float:right;
      max-height: 70%;
      height: 70%;
   }

   /*----- Section Titles -----*/
   .accordion-section-title {
      width:100%;
      padding:15px;
      display:inline-block;
      transition:all linear 0.15s;
      /* Type */
      font-size:1.200em;
   }

   .accordion-section-title.active, .accordion-section-title:hover {
      /* Type */
      text-decoration:none;
   }

   .accordion-section:last-child .accordion-section-title {
      border-bottom:none;
   }

   /*----- Section Content -----*/
   .accordion-section-content {
      padding: 1px;
      display: none;
      overflow-y: scroll;
      height: 43em;
      max-height: 60%;
   }

   .settings, .settings * {
      -webkit-box-sizing:border-box;
      -moz-box-sizing:border-box;
      box-sizing:border-box;
   }

   .settings {
      position:absolute;
      top:0px;
      overflow:hidden;
      box-shadow:0px 1px 3px rgba(0,0,0,0.25);
      border-radius:3px;
      width:31.5%;
      float:right;
   }

   /*----- Section Titles -----*/
   .settings-section-title {
      height: 40px;
      width:100%;
      padding:15px;
      display:inline-block;
      transition:all linear 0.15s;
      /* Type */
      font-size:1.200em;

   }

   .settings-section-title.active, .settings-section-title:hover {
      /* Type */
      text-decoration:none;
   }

   .settings-section:last-child .settings-section-title {
      border-bottom:none;
   }

   /*----- Section Content -----*/
   .settings-section-content {
      padding: 1px;
      display: none;
      overflow-y: scroll;
      height: 55em;
      max-height: 100%;


   }
.node {
   cursor: pointer;
}

.node circle {
   fill: #fff;
   stroke: steelblue;
   stroke-width: 1.5px;
}

.node text {
   font-size:10px;
   font-family:sans-serif;
}

.link {
   fill: none;
   stroke: #ccc;
   stroke-width: 1.5px;
}

.templink {
   fill: none;
   stroke: red;
   stroke-width: 3px;
}

.ghostCircle.show{
   display:block;
}

.ghostCircle, .activeDrag .ghostCircle{
   display: none;
}

