body {
  background-color: white;
  color: #ff0582;
}
select {
  color: #ff0582;
}
h1 {
  color: white;
}
p {
  color: #ff0582;
}
select {
  background: white;
}
#header-bar {
  background: #ff0582;
  color: white;
}
#header-bar,
#title-mem-or {
  color: white;
}
#header-bar,
#title-theme {
  color: white;
}
.memory-graph {
  border: 3px solid #ff0582;
}
.callTree {
  background: white;
}
.callTreeHeading {
  border-bottom: 1px solid #ff0582;
  background: #ff0582;
  text-shadow: 0px 1px 0px #ff0582;
  color: white;
}
/*----- Accordion -----*/
.accordion {
  background: white;
}
/*----- Section Titles -----*/
.accordion-section-title {
  border-bottom: 1px solid #ff0582;
  background: #ff0582;
  text-shadow: 0px 1px 0px #ff0582;
  color: white;
}
.accordion-section-title.active,
.accordion-section-title:hover {
  background: #ff0582;
}
/*less declarations */
